﻿@{
    ViewBag.Title = "Welcome";
}

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="~/Content/Img/logo_html.png" alt="logo 1">
            <h3>Jogos html 5</h3>
            <p>Com o html desenvolvemos jogos eaplicativos 2D, 3D, VR e AR.</p>

        </div><!--fim box html5-->

        <div class="box">
            <img src="~/Content/Img/logo_css.png" alt="logo 2">
            <h3>Jogos css</h3>
            <p>Desenvolvemos aplicativos corporativos, exp cinematograficas e jogos</p>

        </div><!--fim box css-->

        <div class="box">
            <img src="~/Content/Img/logo_brush.png" alt="logo 3">
            <h3>Personagens</h3>
            <p>Fazemos as melhores personagens para videojogos de ultima geração.</p>

        </div><!--fim box brush-->

    </div><!--fim container-->

</section><!--fim section boxes-->