﻿@model GlobalGamesAspNet.Models.Orcamento

@{
    ViewBag.Title = "Serviços";
}

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>
            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestias dolore ex incidunt facere nihil sint amet perferendis, ipsam, repellendus?</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>

                <li>
                    <h3>Personagens</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestias dolore ex incidunt facere nihil sint amet perferendis, ipsam, repellendus?</p>
                    <p>Preços: 10&euro; - 300&euro;</p>
                </li>

                <li>
                    <h3>Jogos Unreal</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestias dolore ex incidunt facere nihil sint amet perferendis, ipsam, repellendus?</p>
                    <p>Preços: 1500&euro; - 4000&euro;</p>
                </li>
            </ul>
        </article><!--fim article main-col-->

        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
			@using (Html.BeginForm())
			{
                <div class="orcamento">
                    <div>
                        @Html.LabelFor(model => model.Nome, "Nome")<br>
						@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { type="text", placeholder = "Nome" } })
                    </div>

                    <div>
						@Html.LabelFor(model => model.Email, "Email")<br>
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "email", placeholder = "Email" } })
                    </div>

                    <div>
						@Html.LabelFor(model => model.Mensagem, "Mensagem")<br>
                        @Html.TextAreaFor(model => model.Mensagem, htmlAttributes : new { placeholder = "Mensagem" } )
                    </div>
					<button type="submit" class="button_1">Enviar</button>
                </div><!--fim form orcamento-->
			}
            </div><!--fim div dark-->

        </aside><!--fim aside sidebar-->

    </div><!--fim div container-->

</section><!--fim section main-->